body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: #0084ff;
}

a > span {
	color: black;
	font-weight: 700;
}

.slider-container {
	margin: 0 auto;
	width: 90%;
	height: 80%;
	padding-top: 10px;
	display: flex;
	flex-direction: row;
	overflow-y: scroll;
	background-color: #fff;
}

.slider-container::-webkit-scrollbar {
	display: none;
}

.slider-box {
	margin: 10px;
	padding: 5px 5px 0 5px;
	background-color: #fff;
	height: 450px;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	text-align: center;
}

.slider-box .slider-img {
	padding: 0 5px;
	height: 200px;
	width: 170px;
}

.slider-box .slider-img img {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.slider-details {
	width: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.type {
	display: flex;
	justify-content: flex-start;
	height: 30px;
	padding: 10px;
}

.price-container {
	font-size: 1.2em;
	padding-left: 10px;
	text-align: left;
}

.navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 70px;
	background-color: #fff;
	box-shadow: 2px 2px 2px #ececec;
	border-radius: 50%;
	z-index: 999;
	top: 200px;
	outline: #fff;
}

.navigation-left {
	position: fixed;
	left: 30px;
}

.navigation-left img {
	height: 50%;
}

.navigation-right {
	position: fixed;
	right: 30px;
}

.navigation-right img {
	height: 50%;
}
